<app-header [headerFor]='header1'></app-header>
<div class="col-md-6 offset-md-3">
<div class="card p-4">
    <div class="card-body">
        <h4 class="card-title fw-bolder pb-2">Complete Institute Setup</h4>
        <div *ngIf="instituteSchema">
            <json-schema-form [schema]="instituteSchema" [layout]="form" framework="bootstrap-4" (onSubmit)="submitIntituteProfile($event)">
            </json-schema-form>
        </div>
     
        <!-- <sf-form [schema]="instituteSchema"></sf-form> -->
    </div>
</div>
</div>