<app-header [headerFor]='header1'></app-header>
<div class="col-md-6 offset-md-3">
    <div class="card p-4">
        <div class="card-body">
            <h4 class="card-title fw-bolder pb-2">Sign up / Create new account</h4>
            <form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
                <label>Are you above 13? &nbsp;&nbsp;</label>
                <div class="form-check form-check-inline pl-5">
                    <input
                      mdbRadio
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      [value]="true"
                      [formControl]="aboveControl"
                    />
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                  </div>
                  
                  <div class="form-check form-check-inline pl-4">
                    <input
                      mdbRadio
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio2"
                      [value]="false"
                      [formControl]="aboveControl"
                    />
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>
                <!-- <div>
                    <label>Are you above 13? </label>
                    <mat-radio-group [formControl]="aboveControl">
                        <mat-radio-button [value]="true">yes</mat-radio-button>
                        <mat-radio-button [value]="false">no</mat-radio-button>
                    </mat-radio-group>
                </div> -->
                <div class="row">
                    <div class="col-md-6 py-3">
                        <label mdbLabel class="form-label fw-bold fs-7" for="form1" >Full Name</label>
                        <mdb-form-control>
                            <input mdbInput type="text" id="form1" class="form-control" mdbValidate placeholder="" formControlName="fullName"/>
                        </mdb-form-control>
                        
                    </div>

                </div>

                <ng-template [ngIf]="!aboveControl.value">
                    <div class="row">
                        <div class="col-md-6 py-3 half" appearance="outline">
                            <label mdbLabel class="form-label fw-bold fs-7">Parent's Or Guardian's Full Name</label>
                            <mdb-form-control>
                                <input mdbInput type="text" class="form-control" mdbValidate formControlName="gaurdianfullName" placeholder="Full Name"/>
                            </mdb-form-control>
                        </div>
                        
                    </div>
                </ng-template>

                <!-- <p>
                    <mat-form-field appearance="outline" class="full" required>
                        <mat-label>Email Id or Mobile Number</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="mobileEmail">
                        <mat-hint>Mobile must include '+91'</mat-hint>
                    </mat-form-field>
                </p> -->
                <div class="pb-3">
                    <label mdbLabel class="form-label fw-bold fs-7" for="form1">Email Id or Mobile Number</label>
                    <mdb-form-control>
                        <input mdbInput type="text" id="form1" class="form-control"  formControlName="mobileEmail" mdbValidate />
                    </mdb-form-control>
                        <!-- <div id="textExample1" class="form-text my-2">
                            Mobile must include '+91'                  
                        </div> -->
                </div>
                <p>
                    <ng-template [ngIf]="form.status == 'VALID'">
                        <!-- Default checkbox -->
                        <div class="form-check">
                            <input
                            mdbCheckbox
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            formControlName="accepted"
                            mdbValidate
                            />
                            <label class="form-check-label">
                                Accept terms and conditions    
                            </label>
                        </div>
                    <!-- <mat-checkbox formControlName="accepted">Accept terms and conditions</mat-checkbox> -->
                    </ng-template>
                </p>
                <button type="submit" [disabled]="!form.value.accepted" class="btn btn-primary w-100 mt-3 fw-bold text-capitalize">Continue</button>
            </form>

            <!-- <pre>Status: {{form.status}}</pre>
            <pre>Value:<br>{{form.value | json}}</pre> -->
        </div>
    </div>
</div>