<app-header [headerFor]='header1'></app-header>
<div class="col-md-6 offset-md-3">
    <div class="card p-4">
        <div class="card-body">
            <h5 class="card-title fw-bolder pb-2">Confirm your account</h5>
            <p class="a-o-i">Enter verification code we sent to {{user_id}}</p>
            <h6>Enter OTP</h6>
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4, allowNumbersOnly:true}">
            </ng-otp-input>
            <mat-hint>Hint : 1234</mat-hint>
            <br>
            <p class="my-3">Didn't receive code? <a class="text-primary">Send Again</a> </p>
            <mat-error *ngIf="error">invalid OTP</mat-error>
            <br>
            <button type="submit" [disabled]="enabled" (click)="onSubmit()" mat-raised-button
                color="primary">Submit</button>
        </div>
    </div>
</div>