<div class="container"  *ngIf="!loginScreen">
    <div class="d-flex flex-justify-between">
        <div>
            <h6 class="d-inline-block">From : registery@cbscboard.com</h6>
            <br>
            <h6 class="d-inline-block">To : {{user.email}}</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Hi,</p>
            <br>
            <p>You have recieved invite form CBSE board registry to register your institute.</p>
            <p>Click below to complete registration of your institute/school.</p>
            <button (click)="register()" class="btn btn-primary text-end mt-3 fw-bold text-capitalize">Complete Registration</button>
        </div>
    </div>
</div>

<div *ngIf="loginScreen">
    <app-header [headerFor]='header1'></app-header>
    <div class="col-md-6 offset-md-3">
        <div class="card p-4">
            <div class="card-body">
                <p class="fs-5 primary">Login To Complete Your Profile Via {{user.email}} Email ID</p>

                <button class="mt-5" type="button" (click)="login()" mat-raised-button color="primary">Login</button>
            </div>
        </div>
    </div>
</div>