<app-header [headerFor]='header1'></app-header>


<div class="col-md-6 offset-md-3">
    <div class="card p-4">
        <div class="card-body">
            <h4 class="card-title fw-bolder pb-2">CBSE Board Login</h4>
            <form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox> -->
                <label mdbLabel class="form-label fw-bold fs-7" for="form1">Email Id or Mobile Number</label>
                <mdb-form-control>
                    <input mdbInput type="text" id="form1" class="form-control"  formControlName="mobileEmail" mdbValidate/>
                  </mdb-form-control>
                    <!-- <div id="textExample1" class="form-text my-2">
                        Mobile must include '+91'                  
                    </div> -->
                <!-- <p>
                    <mat-form-field appearance="outline" class="full" required>
                        <mat-label>Email Id or Mobile Number</mat-label>
                        <mat-icon matSuffix>phone email</mat-icon> 
                        <input matInput placeholder="Placeholder" formControlName="mobileEmail">

                        <mat-hint>Mobile must include '+91'</mat-hint>
                    </mat-form-field>
                </p> -->
                <button type="submit" class="btn btn-primary w-100 mt-3 fw-bold text-capitalize">Continue</button>
            </form>

            <!-- <pre>Status: {{form.status}}</pre>
            <pre>Value:<br>{{form.value | json}}</pre> -->
        </div>
    </div>
</div>