<app-header *ngIf="header != null" [headerFor]='header'></app-header>

<div class=" container">
  <div class="card p-2">
    <!-- Nav tabs -->
    <div class="card-body">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" *ngFor="let tab of filtered;let index = index;">
          <a class="nav-link {{tab?.activeTab}} text-capitalize fs-6" (click)="onTabChange(tab?.tab);" data-toggle="tab"
            href="#{{tab?.tab}}"><b>{{tab?.tabTitle}}</b></a>
        </li>
      </ul>

      <!-- Select filter dropdown list -->
      <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
        (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>


      <!-- Tab panes -->
      <div class="tab-content">
        <div *ngFor="let tab of filtered;let index = index;" id="{{tab?.tab}}" class=" tab-pane {{tab?.activeTab}}"><br>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
            <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Apply</button>
            <button type="button" class="btn btn-default ml-2" (click)="resetModel(index)">Reset</button>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4" *ngIf="items">

    <!-- Search Result -->
     <div class="card p-4" this.cardFields *ngFor="let item of items | paginate: { itemsPerPage: limit, currentPage: page }">
      <div *ngFor="let field of item.fields">
        <div data-toggle="modal" data-target="#prewiewProfile" (click)="showDetails(item.data)">
          <div *ngIf="field?.value">
            <span *ngIf="field?.title"> {{field?.title}} : </span>
            <span class="fs-6"><b>{{field?.value}} </b> </span>
          </div>
        </div>
      </div>
    </div>

     <!-- pagination-controls -->
     <div class="my-1 float-end">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

    <!-- Data Not Found -->
    <table class="mx-5 my-5 w-50">
      <tbody class="fs-5" *ngIf="!isLoading && !items?.length">
        <tr>
          <td class="float-end" [attr.colspan]="items?.length">
            Data Not Found!
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Loading -->
    <div *ngIf="isLoading && !items?.length">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

   

  </div>

</div>

<!-- Public Profile -->
<div class="modal right fade right-xl-modal" id="prewiewProfile" tabindex="-1" role="dialog"
  aria-labelledby="prewiewProfile">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="prewiewProfile">Public Profile</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body" *ngIf="user">
        <app-layouts layout={{activeTabIs}} [publicData]="user" public="true"></app-layouts>
      </div>

    </div>
  </div>
</div>