<app-header [headerFor]='header1'></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body p-3">
          <h5 class="card-title text-center fw-bold pb-3">Institute Registration</h5>
          <p class="card-text  text-center px-5 py-3 fs-79">
            Register you education institute, school or training<br> organisation
          </p>
          <div class="text-center">
             <a routerLink="/form/institute-signup" routerLinkActive="active" class="btn btn-primary w-70 text-capitalize fw-bold">Register</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body p-3">
          <h5 class="card-title text-center fw-bold pb-3">Teacher Registration</h5>
          <p class="card-text  text-center px-5 py-3 fs-79">
            Are you a trainer or teacher?<br>
            Register yourself and create your profile 
          </p>
          <div class="text-center">
             <a routerLink="/form/teacher-signup" routerLinkActive="active" class="text-capitalize fw-bold w-70 btn btn-primary">Register</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body p-3">
          <h5 class="card-title text-center fw-bold pb-3">Student Registration</h5>
          <p class="card-text  text-center px-5 py-3 fs-79">
            Are you a Student?<br>
            Register yourself and create your profile 
          </p>
          <div class="text-center">
             <a routerLink="/form/student-signup" routerLinkActive="active" class="text-capitalize fw-bold w-70 btn btn-primary">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

