<div class="container">
    <div class="d-flex flex-justify-between">
        <div>
            <h6 class="d-inline-block">From : registery@ourdomain.com</h6>
            <br>
            <h6 class="d-inline-block">To : {{user_id}}</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Hi,</p>
            <br>
            <br>
            <p>You have recieved invite form {{user?.fullName}} to register for institute {{institute?.institute?.instituteName}}.</p>
            <p>Click below to complete registration of your institute/school.</p>
            <button [routerLink]="['/verification',{'for':'admin'}]" class="btn btn-primary text-end mt-3 fw-bold text-capitalize">Complete Registration</button>
        </div>
    </div>

</div>