<app-header [headerFor]='header1'></app-header>
<div class="col-md-4 offset-md-4">
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <span class="fw-bold">Success!</span><br> Invitation sent to admins {{institute?.WhoIsAdmin?.emailOrMobile}} to signup.
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 pb-5">
      <h6 class="card-title mb-2">Institute Profile</h6>
      <div class="card">
        <div class="card-body p-3">
          <div class="d-flex align-items-start justify-content-between">
            <div class="d-flex">
              <img src="../../../assets/images/profile.png" alt="" class="w-15">
              <div class="align-self-center text-justify">
                <div class="fw-bold fs-9">{{institute?.BasicDetails?.instituteName}}</div>
                <span class="fs-7">{{institute?.BasicDetails?.Address}}</span>
              </div>
            </div>
            <button type="submit" [disabled]="true" class="btn btn-primary mt-3 fw-bold text-capitalize w-35">View</button>
          </div>
          <div class="alert-warning my-3">
            <div class="d-flex">
            <i class="fas fa-info-circle me-3"></i>
            <div class="flex-column d-flex text-left">
              <span class="fw-bold mb-2">Setup not complete!</span> 
              Admin({{institute?.adminEmail}})
              has been notified to complete the setup
            </div>
          </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6 offset-md-3 pb-5">
      <h6 class="card-title mb-2">Want to create your profile?</h6>
      <div class="card">
        <div class="card-body p-3">
          <div class="d-flex align-items-start justify-content-between">
            <div class="d-flex">
              <img src="../../../assets/images/profile.png" alt="" class="w-15">
              <div class="d-flex flex-column text-justify">
                <span class="fw-bold fs-9">< HOD full name ></span>
                <span class="fs-8">Email ID</span>
                <span class="fs-7">@pragatiinstitute.com<i class="fa fa-check-circle text-success"></i></span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3 fw-bold text-capitalize w-35">Create Profile</button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-6 offset-md-3">
      <h6 class="card-title mb-2">My Profile</h6>
      <div class="card">
        <div class="card-body p-3">
          <div class="d-flex align-items-start justify-content-between">
            <div class="d-flex">
              <img src="../../../assets/images/profile.png" alt="" class="w-15">
              <div class="d-flex flex-column text-justify">
                <span class="fw-bold fs-9">{{user?.fullName}}</span>
                <span class="fs-8">Email ID</span>
                <span class="fs-7">{{user?.mobileEmail}}<i class="fa fa-check-circle text-success"></i></span>
              </div>
            </div>
            <button type="submit" style="width: 150px;" [routerLink]="['/teacher-profile']" class="btn btn-primary mt-3 fw-bold text-capitalize w-35">Go to Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
